body{
    margin: 0;
    padding: 0;
}
.contenir{
    background-image: url("télécharger.jpeg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px
}
p{
    font-size: 30px;
    font-weight: bold;
    width: 50%;
    color: white;
    padding-top: 30%;
}
h1{
    display: flex;
    justify-content: center;
}